#newindex {
    position: absolute;
    top: 20%;

}

.boxes {
    justify-content: center;
    width: 100%;
    left: 0%;
    overflow-x: auto;
}

.boxes i {
    font-size: 50px;
}

.boxes a {
    /* color: green; */
    margin: 4px;
    justify-content: center;
    height: 250px;
    width: 250px;
    text-decoration: none;
    position: relative;

}

.stacks {
    border: 2px solid white;
    padding: 10px;
}

.Minimal {
    position: relative;
    top: 30%;
}

.Colorful {
    position: relative;
    top: 30%;
}

.Techy {
    position: relative;
    top: 30%;

}

.Minimal i {
    /* position: absolute; */
    /* top: 50%; */
    color: white;
}

.Minimal i:hover {
    transition: transform 1.0s;
    transform: rotateX(360deg);
    color: white;
}


.boxes a:hover {
    position: relative;
    text-decoration: none;
    border: 1px solid rgb(249, 227, 103);
    background-color: rgba(255, 217, 0, 0.259);
}


h5 {
    color: #dbb13d;
}

h5:hover {
    color: #dbb13d;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.315);
}

.Colorful i {
    color: white;
}

.Colorful i:hover {
    transition: transform 1.0s;
    transform: rotateY(360deg);
    color: white;
}

.Techy i {
    color: white
}

.Techy:hover {
    color: gold;
}

.Techy i:hover {
    transition: transform 1.0s;
    transform: rotate(360deg);
    color: gold;
}

.footnote {
    position: relative;
    top: -60%;
    background-color: rgba(255, 255, 255, 0.138);
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .boxes {
        justify-content: start;
        width: 100%;
        left: 0%;
        overflow-x: auto;
    }
}