#newindex {
    position: absolute;
    top: 20%;

}

.boxes {
    left: 0%;
    overflow-x: auto;
}

.boxes i {
    font-size: 40px;
}

.boxes a {
    height: 250px;
    width: 250px;
}

.stacks {
    border: 2px solid white;
    padding: 10px;
}

.Minimal i {
    color: white;
}

.Minimal i:hover {
    transition: transform 1.0s;
    transform: rotateX(360deg);
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    border: 1px solid rgb(249, 227, 103);
    background-color: rgba(255, 217, 0, 0.259);
}


h5 {
    color: white;
}

h5:hover {
    color: white;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.315);
}

.Colorful i {
    color: white;
}

.Colorful i:hover {
    transition: transform 1.0s;
    transform: rotateY(360deg);
    color: white;
}

.Techy i {
    color: white
}

.Techy:hover {
    color: gold;
}

.Techy i:hover {
    transition: transform 1.0s;
    transform: rotate(360deg);
    color: gold;
}

.footnote {
    background-color: rgba(255, 255, 255, 0.138);
    padding: 10px;
}

@media only screen and (max-width: 443px) {}