.svgfill {
    fill: #c3b55d;
}

#portfolio li,
a {
    padding-bottom: 5px;
    list-style: none;
    text-decoration: none;
    color: white;
}

#folders li {
    list-style: none;

}

.Skillset {
    display: none;
}

a:hover {
    color: white;
}


/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: start;
    color: white;
}

/* Individual bars */
/* Html5 */
.bar-5 {
    width: 90%;
    height: 10px;
    background-color: #04AA6D;
}

/* Css3 */
.bar-4 {
    width: 98%;
    height: 10px;
    background-color: #04AA6D;
}

/* Bootstrap */
.bar-3 {
    width: 98%;
    height: 10px;
    background-color: #04AA6D;
}

/* Material UI Css */
.bar-1 {
    width: 80%;
    height: 10px;
    background-color: #04AA6D;
}

/* Tailwind */
.bar-2 {
    width: 75%;
    height: 10px;
    background-color: #04AA6D;
}

/* JavaScript */
.bar-6 {
    width: 90%;
    height: 10px;
    background-color: #04AA6D;
}

/* React Js */
.bar-7 {
    width: 75%;
    height: 10px;
    background-color: #04AA6D;
}

.php {
    width: 75%;
    height: 10px;
    background-color: #D1B538;
}

.laravel {
    width: 75%;
    height: 10px;
    background-color: #D1B538;
}