@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,800;0,900;1,700&display=swap');

* {
    /* border: 1px solid rgb(227, 227, 248); */
    font-family: 'Montserrat', sans-serif;
    /* border: 1px solid green; */
    color: #320E3B;

}

body {
    padding-left: 40px;
    padding-right: 40px;

}

.btnDark {
    background-color: #320E3B;
    color: white;
    /* padding: 6px; */
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.btnLight {
    border: 1px solid #320E3B;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.highlighttext {
    color: #320E3B;
    font-weight: 600;
}

.landing h1 {
    font-weight: 400;
    overflow: hidden;
}



.left {
    position: relative;
}

.imgleft2 {
    position: relative;
    top: -75px;
    right: 30%;
    float: right;
}

.playbtn {
    position: relative;
    top: -200px;
}

/* .podcast img {
    /* height: 150px;
    width: 150px; */
/* } */

.featuresCard {
    padding: 15px;
    background-color: rgba(50, 14, 59, 0.06);
    border-radius: 5px;
}

.Explore {
    background-color: rgba(50, 14, 59, 0.03);
    ;
}

.explorelist li {
    list-style: none;
    border: 1px solid #320E3B;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 7px;
}

.exCard {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    /* align-items: center; */
    /* margin: 1px; */
}

.exCard img {
    height: 60px;
    border-radius: 10px;
}

.exCard h4 {
    font-size: 10px;
    font-weight: 525;
}

.exCard i {
    font-size: 10px;
}

.exCard p {
    font-size: 10px;
}

.exCard .Title {
    line-height: 2px;
    padding-left: 10px;
    /* padding-top: 10px; */
}